hgroup {
  position: relative;
  z-index: 2;
}
.page-header img {
  position: absolute;
  z-index: 1;
  right: 5%;
  top: 16%;
  min-width: 120px;
  width: 20%;
  max-width: 300px;
}
@media only screen and (max-width: 500px) {
  .page-header img {
    position: absolute;
    z-index: 1;
    right: 5%;
    top: 16%;
    min-width: 120px;
    width: 20%;
    max-width: 300px;
  }
}
