.content {
  min-height: 100vh;
  padding-top: 50px;
}
.page-header {
  position: relative;
  z-index: 2;
  padding: 9% 5% 14% 5%;

  background: hsl(231, 37%, 60%);
}
#projecten {
  background: hsl(29, 64%, 86%);
}
#artikelen {
  background: hsl(37, 90%, 57%);
}
.projecten-content,
.artikelen-content {
  display: grid;
  gap: 64px 46px;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}

main section,
.page-footer {
  padding: 5%;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  gap: 5%;

  min-width: 200px;
  min-height: 20px;

  background: hsl(231, 37%, 60%);
}
@media only screen and (max-width: 500px) {
  .page-footer {
    flex-direction: column;
  }
}
