.content {
  min-height: 100vh;
  padding-top: 50px;
}
.page-header {
  position: relative;
  z-index: 2;
  padding: 5%;

  background: #7580bf;
  background: hsl(231, 37%, 60%);
}
#projecten {
  background: #f2dac4;
  background: hsl(29, 64%, 86%);
}
#artikelen {
  background: #f4a82e;
  background: hsl(37, 90%, 57%);
}
.projecten-content,
.artikelen-content {
  display: grid;
  gap: 64px 46px;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}

main section,
.page-footer {
  padding: 5%;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  min-height: 20px;
  background: #7580bf;
  background: hsl(231, 37%, 60%);
}

.page-footer section:first-of-type {
  flex: 2;
}
.page-footer section:last-of-type {
  flex: 1;
}
@media only screen and (max-width: 500px) {
  .page-footer {
    flex-direction: column;
  }

  .page-header {
    padding: 9% 5% 5% 5%;
  }
}
