h1,
.h1 {
  border-bottom: 4px solid;
  padding: 0;
  margin: 0;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
h2,
.h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.page-header h1 {
  /* font-family: 'Anton', sans-serif; */
  font-size: 11vw;
  /* letter-spacing: 0.2rem; */
  text-transform: uppercase;

  /* font-size: 25px; */
  line-height: 1.5;
  font-weight: 400;
  visibility: visible;
  font-family: Impact, 'AvenirNext-Bold', 'Arial Black', sans-serif;
  /* Impact and Arial Black are not supported on iOS, AvenirNext-Bold is */
  letter-spacing: 2px;
  word-spacing: 0.05px;
}
.page-footer h2,
.page-footer .h2 {
  border-bottom: 4px solid;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

a:link {
  display: inline-block;
  color: #07288a;
  color: hsl(225, 90%, 28%);
  transition: all 400ms ease-in-out;
}
a:visited {
  color: #32078a;
  color: hsl(260, 90%, 28%);
}

.page-footer a:link {
  color: #0b0037;
  color: hsl(252, 100%, 11%);
}
.page-footer a:visited {
  color: #2d0037;
  color: hsl(289, 100%, 11%);
}
@media (hover: hover) and (pointer: fine) {
  .page-footer a:hover {
    color: #370000;
    color: hsl(0, 100%, 11%);
  }
  a:hover {
    color: #4f1417;
    color: hsl(357, 60%, 19%);
  }
}

a:active {
  color: #8a070e;
  color: hsl(357, 90%, 28%);
  transform: scale(0.9);
}

.page-footer a:active {
  color: #020000;
  color: hsl(0, 100%, 0%);
}
.bold {
  font-weight: 700;
}
