h1,
.h1 {
  border-bottom: 4px solid;
  padding: 0;
  margin: 0;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
h2,
.h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.page-header h1 {
  font-size: 11vw;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 400;
  visibility: visible;
  font-family: Impact, 'AvenirNext-Bold', 'Arial Black', sans-serif;
  /* Impact and Arial Black are not supported on iOS, AvenirNext-Bold is */
  letter-spacing: 2px;
  word-spacing: 0.05px;
}
.page-footer h2,
.page-footer .h2 {
  border-bottom: 4px solid;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

a:link {
  display: inline-block;
  color: hsl(225, 90%, 28%);
  transition: all 400ms ease-in-out;
}
a:visited {
  color: hsl(260, 90%, 28%);
}
.page-footer a:link {
  color: hsl(252, 100%, 11%);
}
.page-footer a:visited {
  color: hsl(289, 100%, 11%);
}
@media (hover: hover) and (pointer: fine) {
  .page-footer a:hover {
    color: hsl(0, 100%, 11%);
  }
  a:hover {
    color: hsl(357, 60%, 19%);
  }
}
a:active {
  color: hsl(357, 90%, 28%);
  transform: scale(0.9);
}
.page-footer a:active {
  color: hsl(0, 100%, 0%);
}
.bold {
  font-weight: 700;
}
.page-footer {
  position: relative;
}
#projecten,
#artikelen {
  position: relative;
  padding: 9% 5% 14% 5%;
}
.decorative-title {
  display: block;

  position: absolute;
  top: -10vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  font-family: Impact, AvenirNext-Bold, 'Arial Black', sans-serif;
  font-weight: 700;
  font-size: 10vw;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.decorative-title--projecten {
  color: hsl(29, 64%, 86%);
}
.decorative-title--artikelen {
  color: hsl(37, 90%, 57%);
}
.decorative-title--footer {
  color: hsl(231, 37%, 60%);
}
address {
  font-style: normal;
}
