h1,
.h1 {
  border-bottom: 4px solid;
  padding: 0;
  margin: 0;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
h2,
.h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.page-header h1 {
  font-family: 'Anton', sans-serif;
  font-size: 12vw;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.page-footer h2,
.page-footer .h2 {
  border-bottom: 4px solid;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

a:link {
  display: inline-block;
  color: #07288a;
  transition: all 400ms ease-in-out;
}
a:visited {
  color: #32078a;
}

.page-footer a:link {
  color: #0b0037;
}
.page-footer a:visited {
  color: #2d0037;
}
@media (hover: hover) and (pointer: fine) {
  .page-footer a:hover {
    color: #370000;
  }
  a:hover {
    color: #4f1417;
  }
}

a:active {
  color: #8a070e;
  transform: scale(0.9);
}

.page-footer a:active {
  color: #020000;
}

@media only screen and (max-width: 500px) {
  .page-header h1 {
    font-size: 18vw;
  }
}
