a {
  transition: all 250ms ease-in-out;
  color: var(--color-accent);
}
a:link::before {
  content: '\0027AA';
  padding-right: 5px;
}
nav a:link::before {
  content: '';
  padding-right: 0;
}
a:visited {
  color: var(--color-visited);
}
@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: var(--color-text);
  }
}
a:active {
  color: var(--color-active);
}
