.card {
  border: var(--default-border) var(--color-border);

  background: var(--color-bg);
  /* box-shadow: 5px 10px var(--color-shadow); */
}
.card h2,
.card__body,
.card__footer {
  padding: var(--default-padding);
}
strong + p {
  padding-top: var(--default-padding);
}
.card__header__hero--video {
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: var(--default-border);
  border-bottom: var(--default-border);
}
.card__header img {
  max-width: 100%;
  border-top: var(--default-border);
  border-bottom: var(--default-border);
}
.card__link-list {
  padding-bottom: var(--default-padding);
}
.card__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  padding: var(--default-padding) 0;
}
.card__tag-list li {
  padding: 5px var(--default-padding);
  border: var(--default-border);

  background: var(--color-parent-bg);
  /* box-shadow: 5px 10px var(--color-shadow); */
}
