/* 
Class naming:
.component
.component__extens
.component--change / .component--special
---
Group/sort CSS properties by:
Parent layout
Layout
Box model
Position
Display
---
Stylesheets:
1. reset.css
2. variables.css
3. global.css
4. type.css
5. anchors.css
6. layout.css
7. nav.css
8. skills.css
9. cards.css
*/

html,
body {
  background: var(--color-neutral);
  background: var(--color-parent-bg);
  color: var(--text-color-default);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
* {
  box-sizing: border-box;
}
iframe {
  border: none;
}
