.content {
  /* Layout */
  display: grid;
  gap: var(--default-padding);
  grid-template:
    'header' auto
    'main' 1fr
    / 1fr;
  /* Box-model */
  min-height: 100vh;
  padding-top: 50px;
  /* Positioning */
  /* Display */
}
header {
  /* Parent layout */
  grid-area: header;
  /* Layout */
  padding: var(--default-padding);
  /* Box-model */
  /* Positioning */
  /* Display */
}
header img {
  /* Parent layout */
  /* Layout */
  /* Box-model */
  max-width: 185px;
  /* Positioning */
  /* Display */
  border: 2px solid var(--color-border);
}
section {
  padding-bottom: 30px;
}
section > h2 {
  padding-bottom: var(--default-padding);
}
main {
  /* Parent layout */
  grid-area: main;
  /* Layout */
  /* Box-model */
  padding: var(--default-padding);
  /* Positioning */
  /* Display */
}
.projecten-content {
  /* Parent layout */
  /* Layout */
  align-items: start;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  /* Box-model */
  min-height: 100px;
  /* Positioning */
  /* Display */
}
#artikelen {
  /* Parent layout */
  /* Layout */
  /* Box-model */
  padding-top: var(--default-padding);
  /* Positioning */
  /* Display */
}
footer {
  /* Parent layout */
  /* Layout */
  /* Box-model */
  min-height: 200px;
  padding: var(--default-padding);
  /* Positioning */
  /* Display */
}
footer h2:first-of-type {
  padding-top: 0;
}
footer h2 {
  padding-top: var(--default-padding);
}
