.content {
  display: grid;
  gap: var(--default-padding);
  grid-template:
    'header' auto
    'main' 1fr
    / 1fr;

  min-height: 100vh;
  padding-top: 50px;
}
.content__header {
  grid-area: header;

  padding: var(--default-padding);
}
.content__header img {
  max-width: 185px;

  border: var(--default-border) var(--color-border);
}
section {
  padding-bottom: 30px;
}
section > h2 {
  padding-bottom: var(--default-padding);
}
.content__main {
  grid-area: main;

  padding: var(--default-padding);
}
.projecten-content {
  align-items: start;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));

  min-height: 100px;
}
#artikelen {
  padding-top: var(--default-padding);
}
.page-footer {
  min-height: 200px;
  padding: var(--default-padding);
}
.page-footer h2:first-of-type {
  padding-top: 0;
}
.page-footer h2 {
  padding-top: var(--default-padding);
}
.page-footer {
  background: var(--color-bg);
  border-top: var(--default-border);
}
section {
  /* background: var(--color-bg); */
  margin-bottom: 35px;
}
hgroup {
  padding-bottom: 30px;
}
section h1,
.page-footer h2,
.mobile-nav h2 {
  padding-bottom: 15px;
}
