.main-nav {
  display: flex;

  height: 50px;
  width: 100%;
  padding-left: var(--default-padding);

  position: fixed;

  background: var(--color-bg);
  border-top: 3px solid;
  border-bottom: 1px solid;
}
.main-nav__name {
  flex: 1;
  display: flex;
  align-items: center;

  min-width: 187px;
}
.main-nav .main-nav__nav {
  flex: 2;
}
.main-nav__nav ul {
  display: flex;
  justify-content: flex-end;

  height: 100%;
}
li a {
  height: 100%;
  width: 100%;
  padding: 0 var(--default-padding);
}
.main-nav__nav li {
  color: var(--color-text);
}
.main-nav__nav a {
  display: flex;
  align-items: center;

  border-left: var(--default-border) hsl(0, 0%, 0%);

  font-weight: 500;
  text-decoration: none;
}
.main-nav__nav a:active {
  color: var(--link-active);
}
.main-nav__nav .nav-item-mobile,
.mobile-nav {
  display: none;
  /* Hide (hamburger) menu item when there is enough space to show the full menu */
}
@media only screen and (max-width: 600px) {
  a.nav-item {
    display: none;
    /* Hide normal menu items when there isn't enough space to show the full menu */
  }
  .main-nav__nav .nav-item-mobile {
    display: flex;
  }
  .nav-item-mobile li {
    display: flex;
    /* Show (hamburger) menu item when there isn't enough space to show the full menu */
    height: 100%;
    align-items: center;
  }
  .mobile-nav {
    display: block;
    padding: var(--default-padding);
  }
}
@media (hover: hover) and (pointer: fine) {
  .main-nav__nav a:hover {
    background: var(--color-parent-bg);
  }
}
