.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}
.skill-card {
  border: var(--default-border) var(--color-border);
  padding: var(--default-padding);

  background: var(--color-bg);
  box-shadow: 5px 10px var(--color-shadow);
}
.skill-card__progress-bar {
  display: block;
  width: 100%;
  min-height: 15px;

  background: var(--color-bg);
  border: var(--default-border);
}
.progress-bar__fill {
  display: block;
  min-width: 1%;
  max-width: 100%;
  min-height: 15px;

  background: var(--color-text);
  border-right: var(--default-border);
}
.bar-no-border {
  border-right: none;
}
.bar-html {
  width: 75%;
}
.bar-css {
  width: 75%;
}
.bar-js {
  width: 60%;
}
.bar-php {
  width: 20%;
}
.bar-ai {
  width: 70%;
}
.bar-xd {
  width: 70%;
}
.bar-id {
  width: 40%;
}
