:root {
  --default-padding: 15px;
  --color-neutral: hsl(60, 100%, 97%);
  --text-color-default: hsl(60, 3%, 24%);
  --color-blue: hsl(205, 100%, 92%);
  --color-light-pink: hsl(1, 100%, 92%);
  --color-dark-pink: hsl(0, 12%, 66%);
  --color-green: hsl(60, 16%, 65%);
  --color-link: hsl(211, 82%, 47%);
  --color-link-visited: hsl(238, 45%, 49%);
  --color-link-hover: hsl(200, 33%, 35%);
  --color-link-active: hsl(0, 45%, 49%);
  /* new */
  --color-parent-bg: var(--heavy-sugar);
  --color-text: var(--imperial-purple);
  --color-bg: var(--sandy-brown);
  --color-border: var(--powdered-cocoa);
  --color-shadow: #888;
  --color-accent: var(--zucchini);
  --color-active: var(--surya-red);
  --color-visited: var(--greenblack);

  /* from cloudfare.design  */
  --black: #000000;
  --satin-deep-black: #1d1f20;
  --greenblack: hsl(195, 3.57%, 21.96%);
  --lump-of-coal: #4e5255;
  --thames-dusk: #62676a;
  --rhythm-blues: #72777b;
  --steely-grey: #92979b;
  --french-silver: #b7bbbd;
  --december-sky: #d5d7d8;
  --mercury: #eaebeb;
  --lynx-white: #f7f7f8;
  --white: #ffffff;
  --powdered-cocoa: hsl(27.5, 85.71%, 10.98%);
  --eyelash-camel: #5b2c06;
  --gryphonne-sepia-wash: #813f09;
  --powdered-coffee: #a24f0b;
  --elm-brown-red: #b6590d;
  --gold-orange: #e06d10;
  --sandy-brown: hsl(27.02, 87.28%, 66.08%);
  --cream-blush: #f8c296;
  --alluring-gesture: #fbdbc1;
  --pico-ivory: #fdf1e7;
  --nightmare: hsl(142.86, 41.18%, 10%);
  --zucchini: hsl(143.68, 40.43%, 18.43%);
  --midori: #285d3d;
  --chopped-chive: hsl(144, 39.88%, 31.96%);
  --adamite-green: #398557;
  --greenish: hsl(144.26, 40.17%, 45.88%);
  --jocose-jade: #79c698;
  --celadon-sorbet: #b0ddc2;
  --sea-mist: #d8eee1;
  --heavy-sugar: hsl(146.67, 39.13%, 95.49%);
  --black-feather: #0c2427;
  --fog-of-war: hsl(204.32, 60.66%, 11.96%);
  --prestige-green: #164249;
  --duskwood: hsl(204, 59.63%, 21.37%);
  --moonlit-pool: #1d5962;
  --three-am-in-shibuya: #1f567a;
  --king-tide: #26727e;
  --sea-bed: #2b818e;
  --blues: #276d9b;
  --vermeer-blue: #2c7cb0;
  --fischer-blue: #35a0b1;
  --blue-tourmaline: #479ad1;
  --arctic-ocean: #66c3d1;
  --dun-morogh-blue: #7cb7de;
  --havana-blue: #a5dce4;
  --utah-sky: #add2eb;
  --chalky-blue-white: #d0edf1;
  --freezing-vapor: #d6e9f5;
  --indigo-white: #e9f7f9;
  --insignia-white: #ebf4fa;
  --kon: #181e34;
  --quill-tip: #2c365e;
  --dive-in: #404e88;
  --submarine-base: #5062aa;
  --wild-pansy: #6373b6;
  --pale-iris: #8794c7;
  --calm-interlude: #a5aed5;
  --ace: #c8cde5;
  --iris-ice: #e0e3f0;
  --alpine-goat: #f1f3f8;
  --blackcurrant: #2d1832;
  --imperial-purple: hsl(287.23, 35.34%, 26.08%);
  --nightly-violet: #753f83;
  --vicious-violet: #8e4c9e;
  --purple-plum: #9f5bb0;
  --creeping-bellflower: #b683c3;
  --catmint: #c9a2d2;
  --sky-blue-pink: #dbc1e1;
  --divine-dove: #ebddee;
  --abalone: #f7f1f8;
  --english-breakfast: #430c15;
  --surya-red: hsl(350.32, 69.92%, 26.08%);
  --vivid-burgundy: #a01c32;
  --cardinal: #bf223c;
  --anarchist: #da304c;
  --feverish: #e35f75;
  --wonder-lust: #ec93a2;
  --petals-unfolding: #f3bac3;
  --tootie-fruity: #f9dce1;
  --pale-cherry-blossom: #fcf0f2;
}
