hgroup {
  position: relative;
  z-index: 2;
}
.page-header img {
  position: absolute;
  z-index: 1;
  right: 55px;
  top: 90px;
  min-width: 203px;
  width: 20%;
  max-width: 300px;
}
@media only screen and (max-width: 500px) {
  .page-header img {
    position: absolute;
    z-index: 1;
    right: 5%;
    top: 30%;
    min-width: 182px;
    width: 20%;
    max-width: 300px;
  }
}
