<footer id="contact" class="page-footer">
  <div class="decorative-title decorative-title--footer" aria-hidden=true>Contact</div>
  <section aria-labelledby="title-contact">
    <h2 id="title-contact">Contact</h2>
    <address>
      <ul>
        <li><a href="mailto:marten@martendebruijn.nl">Mail</a></li>
        <li>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/martendebruijn/"
            >LinkedIn</a
          >
        </li>
      </ul>
    </address>
  </section>
  <section aria-labelledby="title-socials">
    <h3 class="h2" id="title-socials">Socials</h3>
    <ul>
      <li>
        <a target="_blank" href="https://github.com/martendebruijn"
          >GitHub</a
        >
      </li>
      <li>
        <a target="_blank" href="https://martendebruijn.medium.com/"
          >Medium</a
        >
      </li>
      <li>
        <a target="_blank" href="https://codepen.io/martendebruijn"
          >CodePen</a
        >
      </li>
      <li>
        <a target="_blank" href="https://dribbble.com/martendebruijn"
          >Dribbble</a
        >
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/martenwork/"
          >Instagram</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://cssbattle.dev/player/martendebruijn"
          >CSS Battle</a
        >
      </li>
    </ul>
  </section>
</footer>