<nav class="page-nav nav-desktop">
  <ul>
    <li class="main-nav--home">
      <a href="/" aria-current="page">Marten de Bruijn</a>
    </li>
    <li><a href="#projecten">Projecten</a></li>
    <li><a href="#artikelen">Artikelen</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
<nav class="page-nav nav-mobile">
  <ul>
    <li class="mobile-nav__name">
      <a href="/" aria-current="page">MdB</a>
    </li>
    <li><a href="#projecten">Projecten</a></li>
    <li><a href="#artikelen">Artikelen</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>