<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- uncomment in production -->
    <!-- <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%# analytics %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', '<%# analytics %>');
    </script> -->

    <meta
      name="keywords"
      content="portfolio, web, web design, front end developer, developer, web designer, web development, development"
    />
    <meta name="author" content="Marten de Bruijn" />
    <meta
      name="description"
      content="Portfolio website van web-designer en front-end developer Marten de Bruijn"
    />
    <!-- <meta name="theme-color" content="#f4a15d"> -->
    <%- include('_icons') %>
    <link rel="stylesheet" href="./dist/styles.css" />
    <title>Portfolio van Marten de Bruijn - web design en development</title>
    <style>
      a:link {
        font-weight: 700;
      }
      .page-nav a,
      .page-nav a:link,
      .page-nav a:visited {
        text-decoration: none;
        color: black;
      }
    </style>
  </head>
  <body>
    <!-- Ik zoek werk! Stuur een mail naar: marten@martendebruijn.nl -->
    <%- include('_nav') %>
    <div class="content">
      <header class="page-header">
        <hgroup>
          <h1>Portfolio van Marten de Bruijn</h1>
          <h2>Web-designer en front-end developer</h2>
        </hgroup>
        <img
          src="./img/profiel-foto-300x400.png"
          alt="Portretfoto van Marten de Bruijn"
        />
      </header>
      <main>
        <section id="projecten" aria-labelledby="title-projecten">
          <div class="decorative-title decorative-title--projecten" aria-hidden=true>Projecten</div>
          <h2 class="h1" id="title-projecten">Geselecteerde projecten</h2>
          <div class="projecten-content">
            <article aria-labelledby="title-ontdek-kunst-bij-kleur">
              <header>
                <h3 id="title-ontdek-kunst-bij-kleur">
                  Ontdek Kunst bij Kleur
                </h3>
                <div class="article-hero">
                  <img
                    src="./img/ontdek-kunst-616x462.png"
                    alt="Screenshot Ontdek Kunst bij Kleur"
                  />
                </div>
              </header>
              <p class=bold>
                  Ontdek Kunst bij Kleur is een webapplicatie waarme je op
                  basis van kleur kunst van het Rijksmuseum kunt ontdekken. De
                  applicatie maakt gebruik van de API van het Rijksmuseum. Bij
                  Ontdek Kunst bij Kleur is Server Side Rendering toegepast en
                  het is een Progressive Web Application (PWA).
              </p>
              <footer>
                <ul>
                  <li>
                    <a
                      target="_blank"
                      href="https://ontdek-kunst-bij-kleur.herokuapp.com/"
                      >Demo</a
                    >
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://github.com/martendebruijn/discover-art-by-color"
                      >GitHub</a
                    >
                  </li>
                </ul>
              </footer>
            </article>
            <article aria-labelledby="title-zichtbaar">
              <header>
                <h3 id="title-zichtbaar">Zichtbaar</h3>
                <div class="article-hero">
                  <iframe
                    src="https://player.vimeo.com/video/520383156"
                    allow="autoplay; fullscreen; picture-in-picture"
                  ></iframe>
                </div>
              </header>
              <p class=bold>
                  Hoe kunnen huidige niet-toegankelijke websites toegankelijker
                  gemaakt worden zodat deze beter te gebruiken zijn met een
                  schermlezer door blinden en slechtzienden?
              </p>
              <p>
                Producten en diensten worden steeds meer gedigitaliseerd en we
                worden steeds meer aangewezen op onze online-vaardigheden.
                Doordat het huidige web vooral visueel is ingericht, is het
                gebruik maken van het web voor veel mensen niet zo
                vanzelfsprekend. Zo ook voor blinden en slechtzienden, die met
                behulp van een schermlezer het web gebruiken. Veel websites zijn
                niet toegankelijk genoeg om te gebruiken met een schermlezer.
                Zichtbaar is een extensie voor in de browser die drie digitale
                toegankelijkheidsproblemen oplost.
              </p>
              <footer>
                <ul>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.avanscmd.nl/work/marten-de-bruijn-zichtbaar"
                      >Avans CMD</a
                    >
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://github.com/martendebruijn/zichtbaar-extensie"
                      >GitHub</a
                    >
                  </li>
                </ul>
              </footer>
            </article>
            <article aria-labelledby="title-ringo">
              <header>
                <h3 id="title-ringo">Ringo.pro</h3>
                <div class="article-hero">
                  <img
                    src="./img/ringo-616x462.png"
                    alt="Screenshot Ringo.Pro"
                  />
                </div>
              </header>
              <p class=bold>
                  Films, TV-series, games, trailers, reclames, sociale media,
                  allemaal voorbeelden van waar muziek gebruikt wordt. De mensen
                  die zoeken naar de perfecte muziek voor bij bewegend beeld
                  zijn music supervisors. Een music supervisor is iemand die
                  muziek zoekt en de juiste mensen weet te benaderen om de
                  juiste licenties te krijgen.
              </p>
              <p>
                Het huidige proces vergt veel tijd en is onhandig. Vaak is het
                niet duidelijk wie de rechten heeft en je hebt te maken met
                allerlei verschillende wetten uit verschillende landen. Hierom
                wil I Love Mayhem dit proces vereenvoudigen met het idee Ringo.
                Samen met een andere student Nick Meijer, hebben wij in vijf
                weken een proof-of-concept vormgegeven.
              </p>
              <p>
                Met het prototype kan men zoeken naar muziek, afspeellijsten en
                projecten aanmaken, de details van een nummer zien en ook kan
                men de nummers filtreren en krijgt men aanbevelingen op basis
                van de zoekopdracht.
              </p>
              <footer>
                <ul>
                  <li>
                    <a
                      target="_blank"
                      href="https://github.com/Ringo-Pro/Ringo.Pro"
                      >GitHub</a
                    >
                  </li>
                </ul>
              </footer>
            </article>
            <article aria-labelledby="title-aspektu">
              <header>
                <h3 id="title-aspektu">Aspektu</h3>
                <div class="article-hero">
                  <img
                    src="./img/aspektu-616x462.png"
                    alt="Screenshot Aspektu"
                  />
                </div>
              </header>
              <p class=bold>
                  Tijdens mijn stage bij Eonics kreeg ik de opdracht om een
                  website te maken voor Aspektu. Aspektu (Latijn voor zicht) is
                  een AR-bril voor slechtziende museumbezoekers. De bril scant
                  een QR-code bij een schilderij en zet dit om in audio. Zo kan
                  deze bril voor de slechtziende medemens via AR een deel van
                  het zicht invullen. Aspektu is bedacht door Kenrick Trip.
              </p>
              <footer>
                <ul>
                  <li>
                    <a target="_blank" href="https://aspektu.nl/">Aspektu</a>
                  </li>
                </ul>
              </footer>
            </article>
            <article aria-labelledby="title-marijn-effenaar">
              <header>
                <h3 id="title-marijn-effenaar">Marijn’s Effenaar Planner</h3>
                <div class="article-hero">
                  <img
                    src="./img/marijn-616x462.png"
                    alt="Screenshot Marijns Effenaar Planner"
                  />
                </div>
              </header>
              <p class=bold>
                  Marijn’s Effenaar planner is een drag-and-drop concert
                  planner exclusief ontworpen voor Marijn. Marijn heeft een
                  motorische stoornis en veel moeite met fijne motoriek. Deze
                  drag-and-drop is zo ontworpen dat deze voor hem goed te
                  gebruiken is.
              </p>
              <footer>
                <ul>
                  <li>
                    <a
                      target="_blank"
                      href="https://martendebruijn.github.io/web-design-1920/"
                      >Demo</a
                    >
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://github.com/martendebruijn/web-design-1920"
                      >GitHub</a
                    >
                  </li>
                </ul>
              </footer>
            </article>
          </div>
        </section>
        <section id="artikelen" aria-labelledby="title-artikelen">
          <div class="decorative-title decorative-title--artikelen" aria-hidden=true>Artikelen</div>
          <h2 class="h1" id="title-artikelen">Laatste artikelen</h2>
          <div class="artikelen-content">
            <article aria-labelledby="title-digitale-toegankelijkheid-waarom">
              <header>
                <h3 id="title-digitale-toegankelijkheid-waarom">
                  Digitale toegankelijkheid, waarom?
                </h3>
                <time datetime="2021-04-29">29 april 2021</time>
              </header>
              <p>
                Vaak hoor ik mensen zeggen: maar mensen met een handicap hebben
                toch hulpmiddelen als een schermlezer? Ondanks dat het klopt dat
                er verschillende middelen zijn voor mensen met een handicap om
                (beter) over het web te navigeren, lijken we te vergeten dat dit
                slechts hulpmiddelen zijn.
              </p>
              <footer>
                <a
                  target="_blank"
                  href="https://martendebruijn.medium.com/digitale-toegankelijkheid-waarom-ef32da749ace"
                  >Lees meer op Medium</a
                >
              </footer>
            </article>
            <article aria-labelledby="title-css-oplossing-hover">
              <header>
                <h3 id="title-css-oplossing-hover">
                  CSS oplossing voor :hover op touchscreens
                </h3>
                <time datetime="2021-04-07">07 april 2021</time>
              </header>
              <p>
                Een hover-effect laat duidelijk zien welke elementen klikbaar
                zijn. Een hover is het met de muis zweven over een element,
                zónder op het element te klikken. Wanneer iemand de muis over
                een link beweegt veranderd bijvoorbeeld de (achtergrond-)kleur.
                Met een hover-effect kunnen we duidelijk onderscheid maken
                tussen een element mét interactie en een element zonder. Een
                hover-effect is dus belangrijk, maar hoe werkt dit eigenlijk op
                een apparaat waar men geen muis heeft, zoals een smartphone?
              </p>
              <footer>
                <a
                  target="_blank"
                  href="https://martendebruijn.medium.com/mmcss-oplossing-voor-hover-op-touchscreens-86903e2ff02e"
                  >Lees meer op Medium</a
                >
              </footer>
            </article>
          </div>
        </section>
      </main>
    </div>
    <%- include('_footer') %>
  </body>
</html>
