:root {
  --default-padding: 15px;

  /* colors */
  --color-parent-bg: hsl(146.67, 39.13%, 95.49%);
  --color-text-on-parent-bg: hsl(287.23, 35.34%, 26.08%);
  --color-text-on-bg: var(--color-text-on-parent-bg);
  --color-bg: hsl(27.02, 87.28%, 66.08%);
  --color-border: hsl(27.5, 85.71%, 10.98%);
  --color-shadow: #888;
  --color-accent: hsl(143.68, 40.43%, 18.43%);
  --color-active: hsl(350.32, 69.92%, 26.08%);
  --color-visited: hsl(195, 3.57%, 21.96%);

  /* font */
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.7rem;
  --font-size-h5: 1.4rem;
  --font-size-h6: 1rem;

  /* border */
  --default-border: 2px solid;
}
